<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Route Optimization</title>
  </head>
  <body class="bg-[#fbf1c7] h-screen flex flex-col justify-center">
    <h2 class="text-2xl font-semibold mb-4">Enter coordinates (lat,lon per line):</h2>
    <div class="bg-white p-6 md:p-8 rounded shadow w-full max-w-md md:max-w-lg lg:max-w-xl">
    <form method="post" action="/dash">
      <textarea
        name="coords"
        cols="50"
        class="w-full p-3 border rounded focus:outline-none focus:border-blue-300 h-48"
        placeholder="-13.96692,33.77313&#10;-13.95844,33.78156&#10;-13.96123,33.78891"
      ></textarea
      ><br /><br />
      <button type="submit " class="mt-4 w-full bg-blue-500 text-white py-2 rounded hover:bg-blue">Get Optimized Route</button>
    </form>
    </div>
    <p class="text-sm md:text-base text-gray-700 mt-4 leading-relaxed">
      <strong>Format:</strong> One coordinate pair per line in format:
      latitude,longitude
    </p>
    <p class="text-sm md:text-base text-gray-700 mt-4 leading-relaxed">
      <strong>Example:</strong><br />
      -13.96692,33.77313<br />
      -13.95844,33.78156<br />
      -13.96123,33.78891
    </p>
  </body>
</html>
